/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

header h1 {
    font-size: 2.4rem;
    color: #412B8F;
}

.new-task input {
    margin: 1.5em 0;
    height: 30px;
    border-radius: 10px;
    border-color: #412B8F;
    padding: 1em;
}

.new-task button {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: #412B8F;
    margin-left: 1em;
}

.new-task i {
    color: white;
    font-size: 1rem;
}

/* MAIN */

.tasks-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
    background-color: #F2F1D0;
    padding: 1.5rem;
    border-radius: 20px;
}

.tasks-container li {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: .5em 0;
}

main ul i {
    font-size: 1.5rem;
}

main span.done-task {
    color: #3F9999;
    padding: 0 .5em;
}

main span.delete-task {
    color: #6140DB;
}

